ul.nav li.dropdown:hover ul.dropdown-menu {display: block}
h1 a{display:inline-block; background: url("../img/Screenshot from 2021-09-11 21-25-21.png") no-repeat   ; height: 50px  ;padding: 20px 0 0 90px;color: black;}
h1 a:hover {text-decoration: none;color: black;}
h2 a { color: black ;}
h1,h2,h3 {font-family:Georgia,serif;}
p.pubdate{font-style: italic;font-size: 0.9em;}
.sidebar h3 {font-size: 1em; line-height: 1.2em; margin-bottom: 0;}
.sidebar ul{mHargin-left: 0;list-style-type:none ;}
textarea{visibility: visible !important;}

